{
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf"
}