<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Link</title>
  </head>
  <body>
    <div style="background-color: #f4f4f4; padding: 20px">
      <div
        style="
          background-color: #fff;
          max-width: 600px;
          margin: 0 auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
        ">
        <h2>Login Link</h2>
        <p>Hello <%= name %>,</p>
        <p>
          You have received a link to log in to the system. Please click the link below to access
          your account:
        </p>
        <p>
          <a
            href="<%= magicLink %>"
            style="
              background-color: #007bff;
              color: #fff;
              padding: 10px 20px;
              text-decoration: none;
              border-radius: 5px;
            "
            >Login Now</a
          >
        </p>

        <p>Thank you!</p>
      </div>
    </div>
  </body>
</html>
