<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification OTP</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
      text-align: center;
    ">
    <div
      style="
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      ">
      <h1>Hello <%= name %></h1>
      <p>Welcome to Natours!</p>
      <p>
        Thank you for signing up. To complete your registration, please enter the following OTP:
      </p>
      <p style="font-size: 24px; font-weight: bold; color: #007bff"><%= otp %></p>

      <p>If you didn't request this OTP, you can safely ignore this email.</p>

      <p style="font-size: 12px; color: #777">
        This email was sent from Natours. Please do not reply to this message.
      </p>
    </div>
  </body>
</html>
