<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Natours</title>
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td style="text-align: center">
          <h1>Welcome to Natours!</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hi <%= user.name %>,</p>
          <p>
            Welcome to Natours! We're thrilled to have you join us for exciting adventures and
            incredible journeys.
          </p>
          <p>Here's a quick overview of what's in store:</p>
          <ol>
            <li>
              Discover Tours: Explore our curated selection of amazing tours that will take you to
              breathtaking destinations.
            </li>
            <li>
              Easy Booking: When you find the perfect tour, booking your spot is just a few clicks
              away.
            </li>
            <li>
              Stay Connected: Watch out for emails from us with tour updates, travel tips, and
              exclusive offers.
            </li>
            <li>
              Anytime Assistance: If you have any questions or need assistance, our support team is
              here to help 24/7.
            </li>
          </ol>
          <p>
            Get ready to embark on an adventure of a lifetime. We can't wait to be a part of your
            travel experiences!
          </p>
          <p>Adventure awaits,<br />The Natours Team</p>
        </td>
      </tr>
    </table>
  </body>
</html>
