NODE_ENV=development
PORT=8000

# Enable or disable logs values: enable | disable
ENABLE_LOGS=disable

# ------------------------------------------------------------
# Email variables
SENDGRID_API_KEY=
EMAIL_FROM=

# Mailtrap variables
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=25
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
